@page
@model lab4_2.Pages.MyBeers.IndexModel

@{
    ViewData["Title"] = "My Beers";
}

<h1>My Beers</h1>

<p>
    <a asp-page="Create">Add items</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                @Html.DisplayNameFor(model => model.MyBeer[0].Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyBeer[0].Alchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyBeer[0].Description)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CountrySort">
                @Html.DisplayNameFor(model => model.MyBeer[0].Country)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyBeer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
